@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=PT+Sans+Caption:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#app{
  position: relative;
  min-height: 100%;
}