$color-gray: #f4f4f4;
$color-dark-gray: #bbb8b6;
$color-text: #333333;
$color-white: #fff;
$color-blue: #26a1de;
$color-orange: #ff6600;
$color-green: #4db849;
$color-background-cards: #f5f5f5;
$color-border: #EAEAEA;

$laptop: 1220px;
$tablet: 992px;
$phone: 640px;